.card {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

img {
  width: 100%;
  border-radius: 8px;
}
